PyPDF2
gTTS
pyttsx3
datetime
SpeechRecognition
pyjokes
opencv-python
requests
wikipedia
pywikihow
googletrans==4.0.0rc1
playsound==1.2.2
keyboard
PyAutoGUI
bs4
speedtest-cli
pywhatkit
pyaudio
pipwin
psutil
wolframalpha
notify-py
msedge-selenium-tools
selenium
